<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/login.css"/>
    <script src="/public/js/login.js"></script>
  </head>
  <body>
    <div class="login_page">
      <div class="login_form">
        <h1>Login</h1>
        <input type="text" id="username" placeholder="username"/>
        <input type="password" id="password" placeholder="password" required/>
        <div class="login_button">
          <button class="login_btn_color" id="login" type="button">
            <span id="spanLogin">Login</span>
            <span id="spanLoading">Loading...</span>
          </button>
        </div>
      </div>
      <div class="signup_form">
        <h1>Sign Up</h1>
        <input type="text" id="username" placeholder="username"/>
        <input type="password" id="password" placeholder="password" required/>
        <div class="login_button">
          <button class="login_btn_color" id="login" type="button">
            <span id="spanLogin">Sign Up</span>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>